body {
  margin: 0px;
  background: rgb(250, 250, 250);
  scroll-behavior: smooth;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

}

.header_parent{width: 100%; height: auto; display: flex; flex-direction: column;}

.header_div {
  width: 100%;
  height: 250px;
  background: #fff;
  display: flex;
  flex-direction: column;
}


@media screen and (max-width:720px) {
  .header_div {
    display: none
  }
}


/* --------------------------------- */ 
.scroll_header {
  width: 100%;
  height: 100px;
  position: fixed;
  background: rgb(1, 11, 24);
  z-index: 200;
  display: flex;
  transform: translateY(-100%);
  transition: 0.8s ease-in-out;
}

.show_scroll_header {
  transition: 0.8s ease-in-out;
  transform: translateY(0%);
}

/* ---------------------- */
.scroll_item1 {
  width: 120px;
  height: 38px;
  background: none;
  margin-top: 2%;
  text-align: center;
  margin-left: 5%;
}

.scroll_item1 img {
  width: 100%;
  height: 100%;
}

.scroll_item2 {
  width: 75%;
  height: 50%;
  background: none;
  margin-top: 2%;
  display: flex;
  justify-content: right;
}

.scroll_menu {
  width: 50%;
  height: 100%;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll_menu a {
  font-size: 13px;
  color: #fff;
  text-decoration: none;
  margin-right: 6%;
}

/* -------------------------------- */
.header_one {
  width: 100%;
  background: rgb(232, 241, 247);
  height: 30%;
  display: flex;
  justify-content: right;
  align-items: center;
}



.head_partner {
  width: 30px;
  background: none;
  height: 35px;
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.head_partner img {
  width: 100%;
  height: 100%;
}

.head_link {
  width: 20%;
  background: none;
  height: 100%;
  display: flex;
  align-items: center;
}
/* responsive */
@media screen and (max-width:1060px) {
 .head_link { width:25%}
}
@media screen and (max-width:900px) {
 .head_link { width:30%}
}


.head_link a {
  text-decoration: none;
  color: rgb(2, 7, 19);
  padding: 0px 5px 0px 5px;
  border-right: 1px solid rgb(1, 14, 31);
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.head_link a:hover {
  color: rgb(90, 115, 173);
  transition: 0.5s ease-in-out;
}

/* ------------- */
.head_social {
  width: 25%;
  background: none;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.head_social a {
  width: 30px;
  height: 30px;
  background:#fff;
  display: flex;
  margin-left: 2%;
  transition: 0.5s ease-in-out;
  border-radius: 50%;
  position: absolute;
  align-items: center; justify-content: center;

}
.head_social_icon{color:black ; font-size: 12px;}

.head_social a:hover {
  width: 31px;
  height: 31px;
  transition: 0.5s ease-in-out;
}

.head_social a img {
  width: 100%;
  height: 100%;
  background: none;
}

/* ----------------------------------------------------- */
.header_two {
  width: 100%;
  background: rgb(255, 255, 255);
  height: 70%;
  display: flex;
  align-items: center;
}

@media screen and (max-width:900px) {
 .header_two {
  height: 50%;}
}


.h2_logo {
  width: 120px;
    height: 38px;
  background: none;
  margin-left: 5%;

}

.h2_logo img {
  width: 100%;
  height: 100%;
  
}

/* ------------------ */
.h2_business_info {
  width: 70%;
  height: 80%;
  background: none;
  display: flex;
 justify-content: space-evenly;
 margin-left: 10%;
 align-items: center;
}

.business_info_item {
  width: fit-content;
  height: fit-content;
  background: none;
  display: flex;
  flex-direction: column;
}

.item_desc {
  width: 100%;
  height: fit-content;
  background:none;
  display:flex;
  font-size: 15px;
  align-items: center;
}

.item_desc_icon {
  color:rgb(250,91,6)
  ; margin-right: 10px;
}
.item_desc_icon>.MuiSvgIcon-root{font-size: 30px;}


/* //////////// */
.item_info {
  width: fit-content;
  height: fit-content;
  background: none;
  font-size: 18px;
  padding: 0px 0px 0px 12px;
  color: rgb(250, 91, 6);
}

.item_info a {
  text-decoration: none;
  color: rgb(250, 91, 6);
}
/* responsive */
@media screen and (max-width:900px) {
  .item_desc {
    font-size: 13px;
  }

  .item_desc_icon {
    margin-right: 3px;
  }
.item_info {
  font-size: 13px;}
}

/* ---------------------------------------------------------- */
.header_three {
  width: 100%;
  background:  linear-gradient(40deg, rgb(1, 1, 17), rgb(7, 1, 43));;
  height: 50px;
  text-align: right;
  display: flex;
  justify-content: right;
  align-items: center;
}

.page_div {
  width: 40%;
  background: none;
  margin-right: 10%;

}

.page_div a {
  color: #fff;
  font-size: 13px;
  text-decoration: none;
  background: none;
 margin-right: 9%;
}
.page_div a:hover {
  color: rgb(250,91,6);
  font-weight: bold;
  font-size: 12px;
}


/* ///////////////mobile header///////////////////// */

.header_div2 {
  width: 100%;
  height: 70px;
  background: rgb(2, 0, 18);
  
}
.mobile_menu_body{
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center; }

@media screen and (max-width:4820px) {
  .header_div2 {
    display: none
  }
}

@media screen and (max-width:720px) {
  .header_div2 {
    display: flex
  }
}

.mobile_menu {
  width: 30px;
  height: 30px;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left:2%
}

.mobile_menu_action {
  position: absolute;
  background: none;
  height: 25px;
  align-items: center;
  display: flex;
  justify-content: center;
  width: 35px;
  text-align: center;
}

.mobile_menu_action:hover {
  background: rgb(1, 11, 24)
}

.open {
  font-size: 24px;
  color: rgb(9, 84, 146);
  opacity: 1;
  transition: 0.5s ease-in-out;
}

.hide_open {
  display: none;
  opacity: 0;
  transition: 0.5s ease-in-out;
}

.close {
  display: none;
  font-size: 22px;
  color: rgb(249, 249, 250);
  opacity: 0;
  transition: 0.5s ease-in-out;
}

.show_close {
  display: inline-block;
  z-index: 5;
  opacity: 1;
  transition: 0.5s ease-in-out;
}


.navigation {
  position: fixed;
  background: rgb(1, 11, 24, 0.4);
  width: 100%;
  height: 100%;
  z-index: 4;
  display: flex;
  transition: 0.5s ease-in-out;
  transform: translateX(-100%);
  overflow: hidden;
}

.show_nav {
  transition: 0.5s ease-in-out;
  transform: translateX(0%);
}

.navigation_cont {
  width: 80%;
  height: 100%;
  background: linear-gradient(50deg,rgb(1,11,24) 20%,rgb(1, 22, 49) );
  left: 0%;
  position: relative;
  transition: 0.5s ease-in-out;
}

.show_nav_cont {
  animation: nav 1s ease;
}

@keyframes nav {
  from {
    left: 70%;
    transition: 0.5s ease-in-out;
  }

  to {
    left: 0%;
    transition: 0.5s ease-in-out;
  }
}

.nav_logo_body{
  width: 100%;
  height: 10%;
  background-color: none;
  display:flex;
  justify-content: center;
  align-items: center;
}
.nav_logo {
  width: 80px;
  height: 30px;
  background: none;
  display: flex;
  justify-content: center;
  
}

.nav_logo_img {
  width: 100%;
  height: 100%;
}

.mobile_nav_list_cont {
  width: 100%;
  height: 50%;
  background: none;
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  justify-content: space-evenly;
}
 
.mobile_navi{ width:100%; height: 50px; 
  background-color: rgb(3, 1, 21,0.1); display: flex;
  align-items: center; text-decoration: none;}

 @media screen and (max-width:800px){
 .mobile_navi{ cursor: default;}
 } 

.mobile_navi:hover{background-color: rgb(3, 1, 21,0.3);}
.mobile_navi_icon{ width: 30px; height:30px;
border-radius:50%;display:flex; justify-content:center;
align-items:center; margin-left: 20px; 
border: 1px solid rgb(83, 92, 104); color:rgb(83, 92, 104)}  
.mobile_navi>span>.MuiSvgIcon-root{font-size: 17px;}
 
.mobile_navi>span {
  text-decoration: none;
  color: rgb(83, 92, 104);
  font-size: 14px;
  margin-left: 20px;
  font-weight: bold;
}

.mobile_nav_list_cont a:focus {
  color: rgb(170, 173, 177);
}

/* ---------------------------------- */
.mobile_logo {
  width: 80px;
  height: 30px;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile_image {
  width: 100%;
  height: 100%;
}




/* ----------------------------------------------- */
/* ------------footer css----------------------------- */
.footer_container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(30deg, rgb(1, 1, 17),rgb(7, 1, 43));
}

.footer_item1 {
  width: 100%;
  height: fit-content;
  background: none;
  display: flex;
  margin-top: 2%;
  margin-bottom: 30px;
}

@media screen and (max-width:720px) {
  .footer_item1 {
    height: auto;
    flex-direction: column;
    align-items: center;
  }
}

.footer_about {
  width: 40%;
  height: 100%;
  background: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width:720px) {
  .footer_about {
    width: 90%;
    height: auto;
  }
}

/* ----------------------------------- */
.footer_abt_logo {
  width: 100px;
  height: 40px;
  text-align: center;
  background-color: none;
}



.footer_abt_logo img {
  width: 100%;
  height: 100%;
}

.footer_abt_desc {
  width: 80%;
  height: auto;
  background: none;
  margin-top: 3%;
  color: rgb(168, 164, 164);
  font-size: 13px;
}

/* --------------------------------------------- */
.footer_contact {
  width: 30%;
  height: 100%;
  background: none;
  display: flex;
  flex-direction: column;
  align-items: left;

}

@media screen and (max-width:720px) {
  .footer_contact {
    width: 90%;
    margin-top: 10%;
  }
}


.footer_contact_title {
  width: 100%;
  height: 10%;
  font-size: 14px;
  color: rgb(255, 255, 255);
  background-color: none;
  display:flex;
  align-items: center;
  justify-content: left;
  font-weight: bold;
}

@media screen and (max-width:720px) {
  .footer_contact_title {
    width: 100%;
    text-align: center;
    justify-content: center;
  }
}

.footer_contact_items {
  width: 100%;
  display: flex;
  height: fit-content;
  flex-direction: column;
  background: none;
  margin-top: 3%;
 
}

@media screen and (max-width:720px) {
  .footer_contact_items {
    width: 70%;
  }
}

@media screen and (max-width:520px) {
  .footer_contact_items {
    width: 80%;
  }
}

.f_contact_items {
  display: flex;
  align-items: center;
  width: 100%;
  height: fit-content;
  background-color: none;
  margin-bottom: 20px;
  justify-content: left;
    
 
}

.f_contact_list {
  color: rgb(168, 164, 164);
  text-decoration: none;
  transition: 0.5s ease-in-out;
  ;
}

.f_contact_list:hover {
  color: rgb(250, 91, 6);
  transition: 0.5s ease-in-out
}




.f_cont_icon {
  background-color: #fff;
  width: 25px; 
  height:25px;
  border-radius: 50%;
  display:flex;
  justify-content: center;
  align-items: center;
  margin-right:10px;
}
.f_cont_icon>.MuiSvgIcon-root{font-size: 14px; color:rgb(2, 7, 19)}

/* ---------------------- */
.footer_social {
  width: 20%;
  height: 100%;
  background: none;
  display: flex;
  flex-direction: column;
  align-items: left;
}

@media screen and (max-width:720px) {
  .footer_social {
    width: 80%;align-items: center;
  }
}

.footer_contact_social {
  width: 80%;
  height: 15%;
  background: none;
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: space-evenly;
}

@media screen and (max-width:720px) {
  .footer_contact_social {
    width: 60%;
    height: 35%;
    align-items: center;
    justify-content: space-evenly;
  }
}

@media screen and (max-width:500px) {
  .footer_contact_social {
    width: 60%;
    height: 40%;
    align-items: center;
    justify-content: space-evenly;
  }
}

.social_icon {
  width: 35px;
  height: 35px;
  background: rgb(156, 136, 207);
border-radius: 50%;display:flex; align-items:center; justify-content: center;

}

@media screen and (max-width:800px) {
 .social_icon { cursor:default}
}


.social_icon img {
  width: 100%;
  height: 100%;
}

/*  ------------------------*/
.footer_map {
  width: 70%;
  height: 500px;
  background: none;
  display: flex;
  justify-content: center;
}


@media screen and (max-width:1050px) {
 .footer_map {
  width: 70%;
  height: 400px; }
}
@media screen and (max-width:900px) {
 .footer_map {
  width: 70%;
  height: 350px; }
}

@media screen and (max-width:720px) {
 .footer_map {
  width: 100%;
  height: 400px; }
}
@media screen and (max-width:460px) {
 .footer_map {
  width: 100%;
  height: 300px; }
}

.footer_map_cont {
  width: 100%;
  height: 100%;
  background: #fff;
}

/* ---------------------- */
.footer_item2 {
  width: 100%;
  height: 20%;
  background: none;
  display: flex;
  flex-direction: column;
  ;
}

.footer_pages {
  width: 100%;
  height: 30%;
  background: none;
  text-align: center;
  margin-top: 2%;
}

.single_pages {
  text-decoration: none;
  color: rgb(157, 168, 235);
  font-size: 12px;
  margin-right: 2%;
}

@media screen and (max-width:800px){
.single_pages { cursor:default} 
}

.footer_copy {
  text-align: center;
  
  font-size: 12px;
  color: rgb(168, 164, 164);
  background: none;
  width: 100%;
  height: 20%;
  margin-top: 30px;
  margin-bottom: 30px;
}